<?xml version="1.0"?>
<!--
/**
 * Collab FacebookLogin for Magento
 *
 * @author      Marcin Jędrzejewski <m.jedrzejewski@collab.pl>
 * @copyright   Copyright 2024 Collab
 * @license     Open Source License (OSL v3)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="facebooklogin" frontName="facebooklogin">
            <module name="Collab_FacebookLogin"/>
        </route>
    </router>
</config>
